.video-card {
  box-shadow: 0.5px 0.5px 10px rgba(238, 235, 235, 0.75),
    -0.5px -0.5px 5px rgba(234, 234, 234, 0.75);
  width: 350px;
  font-size: 2.5rem;
  margin: 2rem 5px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
  margin: 3rem;
}
.video-card img {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.video-card h1 {
  font-weight: 100;
}
.video-data-div {
  padding: 1rem;
}
.video-card-func-wrapper {
  font-size: 1.4rem;
  position: relative;
}
.video-card-hover {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  right: 130%;
  padding: 0;
  width: 17rem;
  border-radius: 2px;
  background-color: var(--color-background-secondary);
}
.video-card h3 {
  font-weight: 200;
  margin-top: 2px 0;
  padding: 5px;
}
.video-card h3:hover {
  background-color: var(--color-icon);
}
.video-card-vertical:hover .video-card-hover {
  display: flex;
}
