.login-container {
  width: fit-content;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}
.login-heading {
  font-size: 3.6rem;
  font-weight: 900;
  margin: 2rem 0;
  color: var(--color-primary-second);
}
.login-small-heading {
  font-size: 1.6rem;
  color: var(--color-icon);
}
.login-container input {
  font-size: 1.6rem;
  width: 30rem;
  padding: 1.2rem 1rem;
  margin: 1.5rem 0;
  border-radius: 5px;
  box-shadow: none;
  border: 0px;
}
.login-container input:focus {
  outline: 2px solid var(--color-primary-second);
}
.guest-heading {
  font-size: 1.6rem;
  color: var(--color-icon);
  cursor: pointer;
}
.button-login {
  width: 100%;
  font-size: 1.6rem;
  margin: 2rem 0;
}
