/* color */
.background-color-primary {
  background-color: var(--color-primary-second);
}
/* flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-space-between {
  justify-content: space-between;
}
/* Button */

.button-primary {
  background-color: var(--color-primary-second);
  color: var(--color-primary-first);
  border: 0px;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
}

.button-secondary {
  color: var(--color-primary-second);
  border: 1px solid var(--color-primary-second);
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  background-color: var(--color-background-primary);
}

/* Text */

.text-l {
  font-size: 3.2rem;
}
.text-md {
  font-size: 2.6rem;
}
.text-sm {
  font-size: 2rem;
}
